body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #b3dadf;
}

#Profile {
  background-color: #b3dadf;
}

section {
  padding-top: 5rem;
}

body {
  min-height: 1000px;
}
